<nav class="mobile-nav">
  <div class="hamburger-icon">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/custom">Custom</a></li>
    <li><a href="/sedan">Sedan</a></li>
    <li><a href="/suv">SUV</a></li>
    <li><a href="/truck">Truck</a></li>
  </ul>
</nav>